 /* Home.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f9f9f9, #ffffff); /* Set the linear gradient background for the entire body */
  }
  
  .content {
    padding-top: 60px; /* Add padding to the top to offset the space taken by the fixed header */
  }
  
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px); /* Adjust the height to account for the header height */
    background-color: #dd9a9a;
    position: relative; /* Add position relative to the banner */
    overflow: hidden;
  }
  
  .banner h1 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    color: #0c8510;
  }
  
  .banner p {
    font-size: 1.5rem;
    margin: 0;
    color: #2e2d2d;
  }
  
  .banner a {
    margin-top: 2rem;
    text-decoration: none;
  }
  
  .banner button {
    padding: 0.5rem 1rem;
    font-size: 1 rem;
    background-color: #0c8510;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0%;
    max-width: 100%;
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    
    
  }

  .homeheading {
    text-align: center;
    font-size: 1.2vmax;
    font-family: Roboto;
    font-weight:200;
    border-bottom: 1px solid  #2e2d2d;
    width:20vmax;
    padding: 1vmax;
    margin:5vmax auto;
    

  }

  .container{
    display: flex;
    width:80vw;
    margin:2vmax auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgba(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
  }
  
  .productCard > img {
    width: 14vmax;
  }
  
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }

  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  .productCard > span{
    margin:0.5vmax;
    color:tomato;
    font-family: "Franklin";
    font-size: 1vmax;
  }
  .productCard:hover{
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
  }
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
  
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }



  